h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Source Sans Pro', sans-serif;
}


/* p der auf p folg... */


/* p + p { */


/*     text-indent: 1em; */


/* } */
input[type="text"]
{
    /* font-size:16px; */
    font-family: 'Source Sans Pro', sans-serif;
}

button {
    font-family: 'Source Sans Pro', sans-serif;
}

.menu,
.settings,
.status,
.info {
    font-size: 0.8em;
    padding: 0.3em;
    margin: 0.3em;
    position: fixed;
    font-family: 'Source Code Pro', monospace;
    display: table;
    z-index: 999;
    background-color: white;
}

.menu {
    top: 0;
    left: 0;
}

.settings {
    top: 0;
    right: 0;
}

.status {
    font-size: 1em;
    bottom: 0;
    left: 0;
}

.info {
    bottom: 0;
    right: 0;
}

a {
    font-family: 'Source Sans Pro', sans-serif;
}

.bgpink {
    background-color: #FF2C90;
}

.bgb {
    display: table;
    padding: 0.1em 0.2em;
    color: white;
    background-color: black;
}

.bgw-basker {
    display: table;
    font-size: 0.87em;
    z-index: 999;
    background-color: white;
    font-family: 'Libre Baskerville', serif;
    line-height: 1.4;
}

.bgw {
    display: table;
    z-index: 999;
    background-color: white;
}

.em33 {
    padding: 0px 3px;
    width: 33em;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    hyphens: auto;
    /* silbentrennung - land="de" ist relevant! */
}

.chart {
    height: 800px;
}
